.your-girl-codes {
    height: 72vh;
    width: 100%;
    background-color: pink;
}

.heading {
    position: relative;
    text-align: center;
    padding-top: 3%;
    font-size: 4vh;
    font-family: 'Rajdhani', sans-serif;
}

.text-container {
    text-align: justify;
    text-justify: distribute;
    padding: 7%;
    padding-top: 2%;
    font-size: 2.5vh;
}

.dictionary {
    text-align: justify;
    text-justify: distribute;

    font-size: 2vh;
    padding: 4%;
}


.left-container {
    padding: 2%;

}


.animate-scrollingUp {
    transform: translateY(0vh);
    transition: opacity 1s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.animate-scrollingDown {
    transform: translateY(-250%);
    transition: opacity 1.5s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.YGC {
    display: flex
}

.big {
    flex-direction: row;
    width: 90%;
    font-size: 2vh;
}

.small {
    flex-direction: column;

}

.medium-stuff {
    width: 200px;
    padding-left: 20%;
    padding-top: 2%;
}

.mediumThumb {
    width: 20vw;
    padding: 3%;
}

.thumbnail {
    height: 10vw;
    /* width: ; */
    min-height: 200px;
    min-width: 400px
}

.medium-article {
    background-color: white;
    width: 85%;
}

.awssld {
    --content-background-color: none !important;
    --slider-height-percentage: 20%
}

.awssld__content {
    display: inline-flex;
    width: 100%;
    /* left: 7.5%; */

}

.YGC-textContainer {
    position: absolute;
    top: 25%;
    width: 60%;
    height: 60%;
    border: 2px solid black;
}

.YGC-TextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}


@media screen and (min-width: 800px) {
    .YGC-container {
        height: 80%;
        width: 50%;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-container {
        width: 80%;
        position: relative;
        text-align: left;
        padding: 2rem;
    }

    span.header {

        font-size: 2.5rem;
        position: relative;
        font-weight: 600;
        margin-top: 5rem;
        margin-right: 2rem;
    }

    span.intro {
        width: 70%;
        overflow: hidden;
        text-align: justify;
        vertical-align: text-top;
        position: absolute;
        font-size: 1.5rem;
    }

    ul.sidebar{
        width: 30%;
    }
}