.your-girl-codes{
    height: 70vh;
    width: 100%;
    background-color: pink;
    /* opacity: 0.6; */
    padding: 2%;

}

.left-container{
    text-align: justify;
    padding: 2%;

}

.YGC-Title{
position: relative;
font-size: 4vh;
font-family: 'Rajdhani', sans-serif;

}

.animate-scrollingUp{
    transform: translateY(0vh);
    transition: opacity 1s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.animate-scrollingDown{
    transform: translateY(-250%);
    transition: opacity 1.5s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.YGC{
    display: flex
}

.big{
flex-direction: row;
width: 90%;
font-size: 2vh;
}

.small{
    flex-direction: column;
    
}

.left-container{
width: 50%;
}

.YGC-IntroText{
    margin-top: 2vh;
    /* width: 50%; */


}

.dictionary{
    font-size: 1.5vh;
    width: 70%;
    padding-left: 10%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.right-container{
width: 40%;
}

.medium-stuff{
width: 200px;
padding-left: 20%;
padding-top: 5%;
}

.mediumThumb{
    width: 30vw;
    padding: 5%;
}